$animate: all 0.2s ease-in-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
/* Deleting blue CHROME outline around links buttons*/
*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  line-height: 1.4;
  overflow-y: hidden;
  font-family: "Montserrat";
}

section {
  display: flex;
  flex-direction: row;
}

/* Deleting blue CHROME outline around links buttons*/
a:focus {
  outline: none;
}

.img {
  position: absolute;
  bottom: 0;
  left: 8%;
  width: 250px;
  transform: rotate(10deg);
  @include breakpoint(sm) {
    height: 600px;
    width: 600px;
    left: 5%;
    top: 17%;
}
}

.circle {
  position: absolute;
  bottom: -8%;
  left: -40%;
  height: 300px;
  width: 300px;
  background-color: var(--details-color);
  border-radius: 50%;
  opacity: 25%;
  z-index: -1;
  @include breakpoint(sm) {
    height: 600px;
    width: 600px;
    left: -32%;
    top: 17%;
}
}
